{% extends "amazon_affiliate/base.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Website</td>
            <td>Product Name</td>
            <td>Product Tag</td>
            <td>Affiliate Link</td>
            <td>
                <a href="{% url 'product_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for product in product_list %}
            <tr>
                <td>{{product.website}}</td>
                <td>{{product.product_name}}</td>
                <td>{{product.affiliate_tag}}</td>
                <td><a href="{{product.affiliate_url}}">Click Here</a></td>
                <td>
                    <a href="{% url 'product_update' product.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'product_delete' product.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}